    
<%-include('header')-%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5 bg-dark">
        <div class="title pb-5">
            <h2 class="fw-bold">Sports Gully</h2>
            <span>Log in for existing user</span>
            <%if(locals.logout){%>
                <div class="alert alert-success text-center mt-3">
                    <%=logout%>
                </div>
            <%}%>
            <%if(locals.invalid){%>
                <div class="alert alert-danger text-center mt-3">
                    <%=invalid%>
                </div>
            <%}%>
        </div>
        <form action="/route/login" method="post" class="pt-3">
            <div class="form-group text-start">
                <input type="email" class="form-control" placeholder="email" name="email">
                <span class="form-text">Register email address</span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form>
    </div>
</div>

    
<%-include('footer')-%>